<nav class="flex xs:flex-col md:flex-row xs:space-y-8 md:space-y-0 items-center justify-between xs:px-0 sm:px-20 md:px-40 py-40 pb-20">
  <h2 class="font-bold text-4xl text-gray-700 relative after:absolute after:w-1/2 after:h-[3px] after:left-1/2 after:translate-x-[-50%] after:-bottom-2  after:bg-[#009688]">Deals</h2>
  <div class="w-[80%]">
    <div class="group xs:w-full sm:w-[80%] mx-auto">
      <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
      <input (keyup)="isTyping()" placeholder="Filter by firstname, lastname or email" type="search" class="input" [(ngModel)]="searchTerm">
    </div>
  </div>
</nav>
<ng-container *ngIf="typing">
  <app-loader></app-loader>
</ng-container>
<main class="flex justify-evenly xs:flex-col lg:flex-row xs:px-5 sm:px-20 xs:space-x-0 lg:space-x-4" cdkDropListGroup>
  <app-pipe title="Potential Value" [searchTerm]="searchTerm" ></app-pipe>
  <app-pipe title="Focus" [searchTerm]="searchTerm" ></app-pipe>
  <app-pipe title="Contact Made" [searchTerm]="searchTerm" ></app-pipe>
  <app-pipe title="Offer Sent" [searchTerm]="searchTerm" ></app-pipe>
  <app-pipe title="Getting Read" [searchTerm]="searchTerm" ></app-pipe>
</main>
